#back > div {
    width:         70px;
    height:        70px;
    border-radius: 70px;
    margin:        2px;
  }

  #back {
    background-color: gray;
    width:            74px;
    padding:          2px;
  }

  #red.open      {background-color: red;}
  #red.closed    {background-color: #300000;}

  #yellow.open   {background-color: #FFFF00; border-color: #404000;}
  #yellow.closed {background-color: #303000;}

  #green.open    {background-color: green; border-color: #004000;}
  #green.closed  {background-color: #003000;}

.red {
     align-content: center;
     width: 100px;
     height: 100px;
     background: #FF0000;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     border: solid;
 }
.green {
    align-content: center;
    width: 100px;
    height: 100px;
    background:  #00FF00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: solid;
}
.yellow {
    align-content: center;
    width: 100px;
    height: 100px;
    background:  #FFFF00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: solid;
}